*
  margin: 0
  padding: 0
  font-family: Arial, Helvetica, sans-serif

#cockpit
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 100%

  .bottom
    background: black
    padding: 1rem
    color: white
    position: absolute
    bottom: 0
    left: 0

  .labels > div
    white-space: nowrap
    transform: translate(-50%, -100%)
    color: white
    position: fixed
    display: flex
    flex-direction: column
    text-align: center
    justify-content: center
    align-items: center

    &::after
      margin-top: 8px
      content: ''
      height: 3rem
      width: 1px
      background: #ffffffaa
